<style>
#profile_image {
width:30%;
float:left;
border:2px double;
padding: 2px;
margin: 5px;
margin-right: 15px;
}

div.profile_div {
padding:2px;
margin: 5px;
}

div.sec_div {
margin-bottom:25px;
}

#social img {
	float:right;
	margin-left: 5px;
}

#social {
	border-top: 2px ridge #f0b500;
	padding-top: 5px;
	margin-bottom: 50px;
}

.small_img {
height:45px;
width:45px;
}

.basic_img {
height:75%;
width:75%; 
border:2px solid;
}

#pages {
float: right;
margin-right: 50px;
}

.logo_img{
height: 18px;
width: 18px;
margin-left: 2px;
}

.logo_img_long{
height: 18px;
margin-left: 2px;
}

</style>


